// Specific CSS for your home-page
footer {
  margin: auto auto 0 auto;
}
.homepage {
  padding: 0 !important;
}
.icons-homepage {
  width: 70px;
}
.main-header {
  color: white;
  font-weight: bold;
  font-size: 56px;
}
.sub-header {
  font-weight: bold;
  font-size: 24px;
}