// Specific CSS for your home-page
footer {
  margin: auto auto 0 auto;
}
.homepage {
  padding: 0 !important;
}
.icons-homepage {
  width: 70px;
}
.main-header {
  color: white;
  font-weight: bold;
  font-size: 56px;
}
.sub-header {
  font-weight: bold;
  font-size: 24px;
}


/* Background animation */
.custom-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #222222;
  z-index: -1;
}
svg{
  position: absolute;
  height: 100%;
}
.lines {
  opacity: 0.05; 
}
.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4C3A90; }

.lights {
  opacity: 0.9;
}
.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #7A6BB5; 
}