<div class="navbar navbar-lewagon navbar-dark bg-dark py-0 mb-1">
  
  <button class="navbar-toggler z-index-999 border-0 ms-3" type="button" id="custom_menu" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item dropdown justify-content-end me-3">
        <div class="btn-group dropstart">
          <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.image, class: "avatar" %>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark position-absolute" aria-labelledby="navbarDropdown">
            <%= link_to "All Bots", bots_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </ul>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login with Twitch", user_twitch_omniauth_authorize_path, class: "btn custom-btn-purple text-white me-3", method: :post %>
      </li>
    <% end %>
  </ul>
</div>

<div class="collapse custom-hamburger bg-dark w-20 show fade" id="navbarToggleExternalContent">
</div>

