<div class="menu-close">
  <div class="wrapper">
    <div class="zoom-effect-container">
      <div class="image-card">
          <img src="https://i.imgur.com/3j4e0aB.jpg">
      </div>
    </div>
    <% @bots.each do |bot|%>
    
      <div class="zoom-effect-container">
        <div class="image-card">
            <%= image_tag bot.photo %>
        </div>
      </div>
      
    <% end %>  
  </div>
</div>

<script>
  const homePageMenu = document.getElementById('navbarToggleExternalContent');
  homePageMenu.classList.remove('show');
</script>