<div class="menu-close">
  <h1 class="text-center">Você deve se logar com a Twitch</h1>
</div>

<script>
  const homePageMenu = document.getElementById('navbarToggleExternalContent');
  homePageMenu.classList.remove('show');
</script>