.HeartAnimation {
  background-image: url('https://i.imgur.com/DqR7JUu.png');
	background-repeat: no-repeat;
	background-size: 2900%;
  background-position: left;
	height: 30px;
  cursor: pointer;
}

.animate {
  animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		background-position: left
	}
	100% {
		background-position: right
	}
}