/* Barra lateral */
.custom-hamburger {
  height: 100vh;
  position: fixed;
  top: 3.6em;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-top: 0;
  box-shadow: 5px 0 5px -5px #6441a5;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 22px;
  margin-top: 0.75em;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* Componente accordion */
.accordion-button:not(.collapsed) {
  background-color: initial;
}

.accordion-button:focus {
  box-shadow: none;
}

.hamburgerItem {
  display: block;
}

.hamburgerItemActive{
  display: block;
  background: rgba(255,255,255,0.2);
  &:hover {
    background-color: #444444;
  }
}

.hamburgerHref {
  color: #999999;
  text-decoration: none;
  width: 100%;
}

.hamburgerHrefActive {
  color: white !important;
  text-decoration: none;
  width: 100%;
}

.navbar-dark .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%28201, 172, 255, 1%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate( 180deg );
}